<div class="body-container">
    <div class="body-container-2"> 
        <mat-form-field class="form" style="width: 550px; margin-top: 30px;">  
            <input matInput placeholder="Search..." [formControl]="searchTags">
        </mat-form-field>
        <button mat-raised-button class="go-button" (click)="onGo()" color="accent">Go</button>
    </div>
</div>



<div class="results-container">
    <div class="results-container-2">
        <div class="results" *ngFor="let vid of titles; let i = index">
            <mat-list>
                <span class="icon-link">
                    <img src="assets/thumbnail-placeholder.jpg" style="width: 150px;">
                    <mat-list-item class="list-item" routerLink="viewer" (click)="setVideo(i)">
                        <div style="width: 20px;"></div>
                        <div mat-line>{{vid}}</div>
                        <span mat-line>
                            Keywords: 
                            <span *ngFor="let time of timeFrames[i]; let j = index">
                                {{time[0]}}
                            </span>
                        </span>
                    </mat-list-item>
                </span>
                <br>
                <br>
                <mat-divider style="width: 580px;"></mat-divider>
                <br>
            </mat-list>
        </div>
    </div>
</div>