<!-- Proof of concept: Play video with s3 link-->
 <div align="center">
    <video id="video1" width="960" height="540" [src] = 'videoURL' controls>
<!--      <source src="https://qa-classifier.s3.amazonaws.com/Taxonomy.mp4" type=video/mp4>-->
        Your browser does not support HTML5 video.
    </video>
</div>

<!--<div align='center'>-->
<!--  <button mat-raised-button (click)="onPlay()" style="margin: 15px;">Show Video</button>-->
<!--</div>-->

<div align='left' style="margin:30px;">
  <button mat-raised-button (click)="setTime()" style="margin: 15px;">Set time</button>
  <button mat-raised-button (click)="jumpTo10sec()" style="margin: 15px;">10sec</button>
  Keyword 1
  <a href="javascript:void(0);" (click)="jumpTo(60)" style="margin: 15px;">00:01:00</a>
  <a href="javascript:void(0);" (click)="jumpTo(148)" style="margin: 15px;">00:02:28</a>
  Keyword 2
</div>


<!--
<button mat-raised-button (click)="setVideo()" style="margin: 15px;">Set Video</button>
-->
