
 <div align="center">
    <video id="video1" *ngIf="videoURL" width="960" height="540" [src] = 'videoURL' controls>
        Your browser does not support HTML5 video.
    </video>
</div>

<!--<div align='center'>-->
<!--  <button mat-raised-button (click)="onPlay()" style="margin: 15px;">Show Video</button>-->
<!--</div>-->

<div align='center' style="margin:1px;">
  <button mat-raised-button (click)="setTime()" style="margin: 15px;">Set time</button>
  <button mat-raised-button (click)="jumpTo10sec()" style="margin: 15px;">10sec</button>
</div>

<!--<div [innerHTML]="getKeyword()"></div>-->

<div align="center" style="margin:1px;">
  Keyword 1: <a [innerHTML]="getKeyword(0)"></a>
<!--  <a [innerHTML]="convertSecToTime(72)"></a>-->
<!--  <a [innerHTML]="getKeywordTime(1,1)"></a>-->
  <a href="javascript:void(0);" (click)="jumpTo(getKeywordTime(1,1))" style="margin: 15px;" [innerHTML]="convertSecToTime(getKeywordTime(1,1))"></a>
  <a href="javascript:void(0);" (click)="jumpTo(getKeywordTime(1,2))" style="margin: 15px;" [innerHTML]="convertSecToTime(getKeywordTime(1,2))"></a>
  <a href="javascript:void(0);" (click)="jumpTo(getKeywordTime(1,3))" style="margin: 15px;" [innerHTML]="convertSecToTime(getKeywordTime(1,3))"></a>
</div>

<div align="center" style="margin:10px;">
  Keyword 2: <a [innerHTML]="getKeyword(1)"></a>
  <a href="javascript:void(0);" (click)="jumpTo(getKeywordTime(2,1))" style="margin: 15px;" [innerHTML]="convertSecToTime(getKeywordTime(2,1))"></a>
  <a href="javascript:void(0);" (click)="jumpTo(getKeywordTime(2,2))" style="margin: 15px;" [innerHTML]="convertSecToTime(getKeywordTime(2,2))"></a>
  <a href="javascript:void(0);" (click)="jumpTo(getKeywordTime(2,3))" style="margin: 15px;" [innerHTML]="convertSecToTime(getKeywordTime(2,3))"></a>


</div>

<div align="center" style="margin:10px;">
  Keyword 3: <a [innerHTML]="getKeyword(2)"></a>
  <a href="javascript:void(0);" (click)="jumpTo(getKeywordTime(3,1))" style="margin: 15px;" [innerHTML]="convertSecToTime(getKeywordTime(3,1))"></a>
  <a href="javascript:void(0);" (click)="jumpTo(getKeywordTime(3,2))" style="margin: 15px;" [innerHTML]="convertSecToTime(getKeywordTime(3,2))"></a>
  <a href="javascript:void(0);" (click)="jumpTo(getKeywordTime(3,3))" style="margin: 15px;" [innerHTML]="convertSecToTime(getKeywordTime(3,3))"></a>

</div>

<div align="center" style="margin:10px;">
  Keyword 4: <a [innerHTML]="getKeyword(3)"></a>
  <a href="javascript:void(0);" (click)="jumpTo(60)" style="margin: 15px;">00:01:00</a>
  <a href="javascript:void(0);" (click)="jumpTo(148)" style="margin: 15px;">00:02:28</a>

</div>

<div align="center" style="margin:10px;">
  Keyword 5: <a [innerHTML]="getKeyword(4)"></a>
  <a href="javascript:void(0);" (click)="jumpTo(60)" style="margin: 15px;">00:01:00</a>
  <a href="javascript:void(0);" (click)="jumpTo(148)" style="margin: 15px;">00:02:28</a>

</div>
<!--
<button mat-raised-button (click)="setVideo()" style="margin: 15px;">Set Video</button>
-->
