<div class="body-container">
    <div>
        <mat-form-field class="form" style="width: 420px; margin-top: 30px;" > 
        <input matInput placeholder="Search..." [formControl]="searchTags">
        </mat-form-field>

        <button mat-raised-button class="go-button" (click)="onGo()">Go</button>
    </div>
</div>

<!-- Proof of concept: Play video with s3 link
    <button mat-raised-button (click)="onPlay()" style="margin: 15px;">Show Video</button>
    <button mat-raised-button (click)="setTime()" style="margin: 15px;">Set time</button>
    <video id="video1" width="400" [src] = "videoURL" controls>
      <source src = "https://qa-classifier.s3.amazonaws.com/Taxonomy.mp4">
        Your browser does not support HTML5 video.
    </video>
-->



<!--
<button mat-raised-button (click)="setVideo()" style="margin: 15px;">Set Video</button>
-->

<div class="results-container">
    <div class="results-container-2">
        <div class="results" *ngFor="let vid of videoNames; let i = index">
            <mat-list>
                <span class="icon-link">
                    <mat-icon>video_library</mat-icon>
                    <mat-list-item routerLink="viewer" (click)="setVideo(i)">{{vid}}</mat-list-item>
                </span>
                <mat-divider style="width: 500px;"></mat-divider>
            </mat-list>
        </div>
    </div>
</div>