<mat-toolbar color="primary" class="toolbar">
    <mat-form-field [floatLabel]="'never'" style="width: 150px;">
        <mat-label class="mat-h4">Subjects</mat-label> <!-- test and find what actually changes rendering upon 'upload' button hit -->
        <mat-select panelClass="subject-select">
            <mat-option>-- None --</mat-option>
            <mat-option *ngFor="let category of categories" [value]="category">
                {{ category }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div class="spacer"></div>
    <!-- <img src="assets/logo8.png" routerLink=""> -->
    <span class="title" routerLink="">QA Classifier</span>
    <div class="spacer"></div>
    <a mat-raised-button class="upload" routerLink="upload">Add Videos</a>
</mat-toolbar>